extends layout

block content
    div(class='row')
        h1= title

        div(class='pull-right')
            a(href='/logout') Log Out

    div(class='row')
        table(class='table table-hover table-condensed')
            thead
                tr
                    th
                        Filename
                    th
                        Size
                    th
                        Modified
            each fi in fileItems
                tr
                    td
                        a(href=fi.link)
                            =fi.metadata.name
                    - var size = fi.metadata.size
                    td
                        if size > 10e9
                            = (size / 1e9).toFixed(1) + ' GB'
                        else if size > 10e6
                            = (size / 1e6).toFixed(1) + ' MB'
                        else if size > 10e3
                            = (size / 1e3).toFixed(1) + ' kB'
                        else
                            = size + ' B'
                    td
                        =fi.metadata.updated