extends layout

block content
    if message
        div
            =message
    div(class="container")
        form(action="/login", method="post" class="form-signin")
            input(type="text", name="username", placeholder="username", class="form-control", autofocus="autofocus")
            input(type="password", name="password", placeholder="password", class="form-control")
            div
                input(type="submit", value="Log In" class="btn btn-large btn-default")
